<div class="container mx-auto py-8">
    <h2 class="text-4xl font-extrabold text-center mb-8 text-gray-900">Tu Carrito de Compras</h2>

    <!-- Mostrar mensaje si no hay productos en el carrito -->
    <div *ngIf="cartItems.length === 0" class="text-center text-gray-600">
        <p class="text-xl font-medium">No hay productos en tu carrito aún.</p>
        <a href="/products" class="mt-4 inline-block bg-blue-500 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg transition-colors duration-300">Explora Productos</a>
    </div>

    <!-- Mostrar productos del carrito -->
    <div *ngFor="let item of cartItems" class="cart-item bg-white rounded-lg shadow-lg p-5 mb-5 flex justify-between items-center transform transition-all hover:shadow-xl hover:scale-105">
        <div class="flex-1">
            <h3 class="text-2xl font-bold text-gray-900">{{ item.Nombre }}</h3>
            <p class="text-gray-600 mt-2">Costo: <span class="text-green-600 font-semibold">{{ item.Precio | currency }}</span></p>
        </div>
        <button
            class="bg-red-600 hover:bg-red-800 text-white font-semibold py-2 px-4 rounded-lg transition-colors duration-300"
            (click)="removeProduct(item)">
            Eliminar
        </button>
    </div>

    <!-- Mostrar total y botón para proceder al pago si hay productos -->
    <div *ngIf="cartItems.length > 0" class="mt-6 border-t pt-4">
        <h3 class="text-2xl font-extrabold text-right">
            Total: <span class="text-green-600">{{ total | currency }}</span>
        </h3>
        <button
            class="mt-4 bg-blue-600 hover:bg-blue-800 text-white font-semibold py-3 px-6 rounded-lg transition-colors duration-300 float-right"
            (click)="proceedToPayment()">
            Proceder al Pago
        </button>
    </div>
</div>
