<!-- registro.component.html -->
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-sm mx-auto">
    <form (ngSubmit)="registrar()" class="bg-white shadow-lg rounded-lg px-10 pt-8 pb-10">
      <h2 class="text-2xl font-semibold text-center mb-6 text-gray-800">Registrarse</h2>

      <div class="mb-5">
        <label for="nombreUsuario" class="block text-gray-700 text-sm font-medium mb-2">Nombre de Usuario</label>
        <input
          id="nombreUsuario"
          [(ngModel)]="usuario.nombre"
          name="nombreUsuario"
          required
          type="text"
          class="shadow-md border border-gray-300 rounded-lg w-full py-3 px-4 text-gray-800 focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-150 ease-in-out"
          placeholder="Introduce tu nombre de usuario"
        />
      </div>

      <div class="mb-5">
        <label for="correo" class="block text-gray-700 text-sm font-medium mb-2">Correo Electrónico</label>
        <input
          id="correo"
          [(ngModel)]="usuario.correo"
          name="correo"
          required
          type="email"
          class="shadow-md border border-gray-300 rounded-lg w-full py-3 px-4 text-gray-800 focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-150 ease-in-out"
          placeholder="Introduce tu correo electrónico"
        />
      </div>

      <div class="mb-6">
        <label for="clave" class="block text-gray-700 text-sm font-medium mb-2">Contraseña</label>
        <input
          id="clave"
          [(ngModel)]="usuario.contrasena"
          name="clave"
          required
          type="password"
          class="shadow-md border border-gray-300 rounded-lg w-full py-3 px-4 text-gray-800 focus:ring-2 focus:ring-blue-500 focus:outline-none transition duration-150 ease-in-out"
          placeholder="Introduce tu contraseña"
        />
      </div>

      <div class="flex items-center justify-center">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg focus:outline-none focus:ring-4 focus:ring-blue-300 transition duration-150 ease-in-out"
        >
          Registrarse
        </button>
      </div>
      <p *ngIf="errorMessage" style="text-align: center;" class="text-red-600 font-medium mt-4">{{ errorMessage }}</p>



      <div class="mt-6 text-center">
        <a [routerLink]="['/login']" class="text-blue-500 hover:text-blue-700 text-sm">¿Ya tienes una cuenta? Inicia sesión aquí</a>
      </div>
    </form>
  </div>
</div>
